<section id="note" class="col-4">
  <h3>Title</h3>
  <p>{{title}}</p>
  <h3>dWellnote</h3>
  <p>{{body}}</p>
  <h4>Health: {{health}}</h4>
  <h4>Work: {{work}}</h4>
  <h4>Play: {{play}}</h4>
  <h4>Love: {{love}}</h4>
  <button id="deleteNoteButton" data-id="{{_id}}">Delete!</button>
</section>
