{{#each notes as |note|}}
<section id="note" class="col-4">
  <h3>Title</h3>
  <p>{{note.title}}</p>
  <h3><span id="dwell">dWell</span>note</h3>
  <p>{{note.body}}</p>
  <h4>Health: {{note.health}}</h4>
  <h4>Work: {{note.work}}</h4>
  <h4>Play: {{note.play}}</h4>
  <h4>love: {{note.love}}</h4>
  <button id="deleteNoteButton" data-id="{{note._id}}">Delete!</button>
</section>
{{/each}}
