{{#each places as |place|}}
  <section class="col-md-4 col-sm-6 place-template" data-id="{{place._id}}">
    <button id="showPlaceButton" class="btn" data-id="{{place._id}}">
      <div class="onePlace" data-id="{{place._id}}" data-title="{{place.title}}">
        <h6>Title:</h6>
        <h4>{{limit place.title 20}}</h4>
        <h6>Address:</h6>
        <h4>{{limit place.address 30}}</h4>
        <h6>City:</h6>
        <h4>{{limit place.city 15}}</h4>
          {{#if place.country}}
            <h6>Country:</h6>
            <h4>{{limit place.country 15}}</h4>
          {{else}}
          {{/if}}
      </div>
    </button>
    <button type="submit" id="updatePlaceBtn" class="updatePlaceBtn btn" data-id="{{place._id}}">Update Place</button>
    <section id="updatePlace-template">
      <form class="updatePlace-form" data-id="{{place._id}}">
        <h3>Update Place</h3>
        <input type="text" name="place[title]" placeholder="Title">
        <input type="text" name="place[address]" placeholder="Address">
        <input type="text" name="place[city]" placeholder="City">
        <input type="text" name="place[country]" placeholder="Country">
        <button id="submit-update" type="submit" data-id="{{place._id}}">Update Place</button>
      </form>
    </section>
    <button id="deletePlaceBtn" class="btn" data-id="{{place._id}}">Delete Place</button>
  </section>
  <!-- {{> placePartial place=place}} -->

{{/each}}
